<section class="meetings cf">

	<h1>Add Meetings</h1>
	<form class="formgroup addmeeting cf"
	name="meetingForm"
	ng-submit = "addMeeting()"
	novalidate>

	<div class="inputwrapper">
		<input type="text" name="meetingname" placeholder="Meeting Name" ng-model="meetingname" ng-required="true">
	</div>
	<button type="submit" class="btn" ng-disabled="meetingForm.$invalid">Add</button>	
	</form>

	<h2>Your Meetings</h2>
	<!-- Firebase also carries a primary key along with each record -->
	<div class="meeting" ng-repeat ="(key,meeting) in meetings">
		<button class="btn btn-delete tooltip" ng-click="deleteMeeting(key)"><span>Delete this meeting</span></button>
		<p>{{meeting.name}}</p>
		
	</div>
</section>